/*Drop down menu*/
/* Style The Dropdown Button */
.btn.btn-custom {
    background-color: #788184;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}

/* The container <div> - needed to position the dropdown content */
.btn.btn-custom{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: transparent;
    min-width: 360px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.btn-default:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn-default:hover .btn-default {
    background-color: #64EC47;
}

/* On smaller screens, where height is less than 450px */
@media screen and (max-height: 450px) {
    .dropdown-content {
	    min-width: 160px;
    }
}

/* Extend the glyphicon to the right */
.btn-custom .glyphicon {
	font-size: 23px;
	position: relative;
    right: -23px;
    top: 3.5px;
}