#navbar-custom {
	background-color: #004D48;
	border-style: none;
	border-radius: 0px;
	text-align: center;
}

#close-btn-custom {
	padding-right: 30px;
	color: #777F84;
	text-shadow: 2px 2px 8px #000000;
}

#nav-email-custom {
	border-radius: 0px;
}

#subscribe-custom {
	color: #FFFFFF;
	background-color: #64EC47;
	border-color: #64EC47;
	border-radius: 0px;
}

span.icon {
	padding: 5px;
}

a:link {
    color: #777F84;
}

nav.navbar-default {
	background-color: #FFFFFF;
	border-style: none;
}