/*Navigation 1 and 2 styling*/
#navbar-custom {
	background-color: #004D48;
	border-style: none;
	border-radius: 0px;
	text-align: center;
}

#close-btn-custom {
	position: absolute;
	top: 18px;
	right: 30px;
	color: #777F84;
	text-shadow: 2px 2px 8px #000000;
}

#nav-email-custom {
	border-radius: 0px;
}

#subscribe-custom {
	color: #FFFFFF;
	background-color: #64EC47;
	border-color: #64EC47;
	border-radius: 0px;
}

span.icon {
	padding: 5px;
}

a:link {
    color: #777F84;
}

nav.navbar-default {
	background-color: #FFFFFF;
	border-style: none;
}
/*End of Navigation 1 and 2 styling*/

/* Navbar 3 and body */
div.mycontainer {
	background-color: #EEEEEE;
	min-width: 100%;
	margin-top: 0px;
	padding-top: 20px;
}

div.container {
	background-color: #EEEEEE;
}

/*Drop down menu*/
/* Style The Dropdown Button */
.btn.btn-custom {
    background-color: #788184;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
    border-radius: 0px;
}

/* The container <div> - needed to position the dropdown content */
.btn.btn-custom{
    position: relative;
    display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #FFFFFF;
    min-width: 350px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.btn-default:hover .dropdown-content {
    display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.btn-default:hover .btn-default {
    background-color: #64EC47;
}

/* On smaller screens, where height is less than 450px */
@media screen and (max-height: 450px) {
    .dropdown-content {
	    min-width: 160px;
    }
}

/* Extend the glyphicon to the right */
.btn-custom .glyphicon {
	font-size: 23px;
	position: relative;
    right: -23px;
    top: 3.5px;
}

#search-custom {
	border-style: none;
	border-radius: 0px;
	position: relative;
	top: 15px;
	box-shadow: 2px 2px 5px white;
}

/* Thamb nails */
div.desc {
	text-align: center;
	padding: 10px;
	background-color: #FFFFFF;
}

/* Footer */
footer {
	margin-top: 20px; 
	padding-top: 70px;
	padding-bottom: 90px;
	min-width: 100%;
	background-color: #004D48;
	text-align: left;
}

footer.ft {
	margin-top: 0; 
	background-color: #1D2F37; 
	padding: 20px; 
	text-align:center;
}